*{
	margin: 0px;
	padding: 0px;
}



/* service---start */
.service{
	background-image: url(image/header-bg-3.jpg);
	padding: 100px 0px;
	background-size: cover;
	height: 500px;
	position: relative;
	width: 100%;
}
.web{
	position: absolute;
	text-align: center;
}
.web h1{
	color: white;
	font-size: 50px;
	font-weight: 700;
	padding: 80px 0px;
	margin: auto;
	font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
    line-height: 1.4em;
	margin-left: 430px;
    margin-top: 20px;
}
.web p{
	font-size: 20px;
	font-family: 'Ubuntu',Helvetica,Arial,Lucida,sans-serif;
	color: white;
    line-height: 1.8em;
	margin-left: 398px;
    margin-top: -55px;
	margin-bottom: 45px;
}
.btn{
	font-family: 'Ubuntu',Helvetica,Arial,Lucida,sans-serif!important;
	font-size: 20pz;
	text-decoration: none;
	margin: auto;
	background: white;
	text-align: center;
	padding: 20px 36px;
    border-radius: 10px;
    font-weight: 700;
    letter-spacing: 1px;
	margin-left: 386px;
}
.btn:hover{
	background: #1FB6E9;
	color: white;
}

/* service---end-- */


/* --start--our-- */
.our{
	overflow: hidden;
	padding: 100px 0px 20px 0px;
}
.head-1 h1{
	font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.4em;
	color: #333;
    padding-bottom: 10px;
	text-align: center;
	padding: 10px;
}
.head-1 p{
	text-align: center;
	line-height: 1.8em;
	font-family: 'Ubuntu',Helvetica,Arial,Lucida,sans-serif;
	color: #666;
	padding: 10px;
}
/* --end--our-- */

/* --start---divition-- */
.contaiiner{
	width: 80%;
	overflow: hidden;
	margin: auto;
	padding: 10px 0px 50px 0px;
	
}
.col-1{
	width: 25%;
	float: left;
	background: #1FB6EA;
	margin-right: 8%;
	padding: 0px 30px 100px 0px;
    border-radius: 3%;
	color: white;
	
}
.col-1 img{
	margin: auto;
	display: block;
	margin-top: 100px;
}
.col-1 h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 30px;
}
.col-1 p{
    font-size: 20px;
    color: white;
	display: block;
	text-align: center;
	padding: 0px 0px 0px 10px;
}



.col-2{
	width: 25%;
	float: left;
	background: #3644AF;
	margin-right: 8%;
	padding: 0px 30px 100px 0px;
    border-radius: 3%;
	color: white;
}

.col-2 img{
	margin: auto;
	display: block;
	margin-top: 100px;
}

.col-2 h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 30px;
}


.col-2 p{
    font-size: 20px;
    color: white;
	display: block;
	text-align: center;
	padding: 0px 0px 0px 10px;
}


.col-3{
	width: 25%;
	float: left;
	background: #2A3443;
	padding: 0px 30px 100px 0px;
    border-radius: 3%;
	color: white;
}

.col-3 img{
	margin: auto;
	display: block;
	margin-top: 100px;

}

.col-3 h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 30px;
}
.col-3 p{
    font-size: 20px;
    color: white;
	display: block;
	text-align: center;
	padding: 0px 0px 0px 10px;
}


/* --end---divition-- */


/* --image --under- */
.image-under{
	overflow: hidden;
	text-align: center;
	padding: 0px 0px 50px 0px;

}
.under{
	padding: 10px;
}
/* --end-image --under- */



/* award--start */
.award{
	overflow: hidden;
	padding: 50px 0px 50px 0px;
}
.container{
	width: 80%;
	margin: auto;
}
.award-1{
	width: 50%;
	float: left;
}
.award-1 h1{
	color: #333333;
	font-size: 50px;
	font-weight: 700;
	margin: auto;
	font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
    line-height: 1.4em;
    margin-top: 20px;
	margin-bottom: 85px;
	margin-top: -10px;
}
.award-1 p{
	font-size: 20px;
	font-family: 'Ubuntu',Helvetica,Arial,Lucida,sans-serif;
	color: #667EB5;
    line-height: 1.8em;
    margin-top: -55px;
	margin-bottom: 45px;
}
.award-1 img{
	width: 150%;
}
.btn-1{
	font-family: 'Ubuntu',Helvetica,Arial,Lucida,sans-serif!important;
	font-size: 20pz;
	text-decoration: none;
	margin: auto;
	background: #3542AA;
	text-align: center;
	padding: 20px 36px;
    border-radius: 10px;
    font-weight: 700;
    letter-spacing: 1px;
	color: white;
}
.btn-1:hover{
	background: #1FB6E9;
	color: white;
}

/* award--end */

/* --start--mobile */

.mobile{
	background: #e9e8e8;
}
.mobile-1{
	width: 50%;
	float: right;
}
.mobile-1 h1{
	color: #333333;
	font-size: 50px;
	font-weight: 700;
	margin: auto;
	font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
    line-height: 1.4em;
    margin-top: 20px;
	margin-bottom: 85px;
	margin-top: 70px;
}
.mobile-1 p{
	font-size: 20px;
	font-family: 'Ubuntu',Helvetica,Arial,Lucida,sans-serif;
	color: #667EB5;
    line-height: 1.8em;
    margin-top: -55px;
	margin-bottom: 45px;
}

/* --end--mobile */



/* wibsite */


.website-1{
	width: 50%;
	float: left;
}
.website-1 h1{
	color: #333333;
	font-size: 35px;
	font-weight: 700;
	margin: auto;
	font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
    line-height: 1.4em;
    margin-top: 20px;
	margin-bottom: 85px;
	margin-top: 70px;
}
.website-1 p{
	font-size: 17px;
	font-family: 'Ubuntu',Helvetica,Arial,Lucida,sans-serif;
	color: #667EB5;
    line-height: 1.8em;
    margin-top: -55px;
	margin-bottom: 45px;
}
.website-1 img{
	width: 100%;
    height: 544px;
    padding: 32px 0px 0px 0px;
}


/* wibsite */


/* work */
.work{
	overflow: hidden;
	padding: 80px 0px;
}
.work .container{
	width: 100%;
}
.work-1{
	width: 50%;
	background-image: url(image/section-background.jpg);
	height: 500px;
	float: left;
	padding: 0px 0px;
}
.work-1 h1{
	font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 1.4em;
	color: #333;
    padding-bottom: 10px;
	text-align: center;
	padding: 50px 80px;
}
.work-1 p{
	font-size: 17px;
	font-family: 'Ubuntu',Helvetica,Arial,Lucida,sans-serif;
	color: #130d0d;
    line-height: 1.8em;
    margin-top: -55px;
	margin-bottom: 45px;
	text-align: center;
	padding: 0px 50px;
	padding: 0px 29px;
    margin-top: 10px;
}






.work-2{
		width: 50%;
		background: red;
		height: 500px;
		float: right;
}
input[type="text"]{
	height: 25px;
}
/* work */












































































/* --start---divition-- */

@media(max-width: 1250px){
	.col-1{
		width: 100%;
		float: none;
		margin-top: -100px;
	}
	.col-2{
		width: 100%;
		float: none;
	}	
	.col-3{
		width: 100%;
		float: none;
	}
}

/* --end---divition-- */



/* ---responsiv--award */
@media(max-width: 1020px){
	.award-1{
		width: 100%;
		float: none;
		margin-top: 60px;
}
	
}
/* ---responsiv--award */


/* mobile */
@media(max-width: 1020px){
	.mobile-1{
		width: 100%;
		float: none;
		margin-top: 60px;
}
	.mobile-1 img{
		margin: auto;
		display: block;
	}
}

/* mobile */

/* wibsite */
@media(max-width: 1020px){
	.website-1{
		width: 100%;
		float: none;
	}
	.website-1 img{
		margin: auto;
}
}

/* wibsite */


/* service---responsiv */

@media(max-width: 961px){
.web h1{
	margin-left: 130px;
	padding: 8px;
	color: black;
}

.web p{
	color: white;
	margin-left: 130px;
	padding: 8px;
	margin-top: 20px;
}

.btn{
	background: white;
	padding: 8px;
	margin-left: 130px;
	padding: 20px 36px;
}
}





@media(max-width: 700px){
.web h1{
	margin-left: 60px;
	padding: 10px;
	color: black;
}

.web p{
	color: white;
	margin-left: 60px;
	padding: 10px;
	margin-top: 20px;
}

.btn{
	background: white;
	padding: 10px;
	margin-left: 60px;
	padding: 20px 36px;
}
}
/* service---responsiv */